*{
    margin: 0;
    padding: 0;

    -webkit-animation: bugfix infinite 1s;
    /*-webkit-appearance: none;*/
}


::-webkit-scrollbar-button {
    /*background-image:url('');*/
    background-repeat:no-repeat;
    width:6px;
    height:0px
}

::-webkit-scrollbar-button {
    /*background-image:url('');*/
    background-repeat:no-repeat;
    width:6px;
    height:0px
}

/*::-webkit-scrollbar-track {*/
/*background-color:#c2c3c6;*/
/*box-shadow:0px 0px 3px #c2c3c6 inset;*/
/*}*/

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#3fcbff;
    box-shadow:0px 1px 1px #fff inset;
    /*background-image:url('https://yraaa.ru/_pu/24/59610063.png');*/
    background-position:center;
    background-repeat:no-repeat;
}

::-webkit-resizer{
    /*background-image:url("");*/
    background-repeat:no-repeat;
    width:7px;
    height:0px
}

::-webkit-scrollbar{
    width: 11px;
}
body{
        width: 100%;
}
ul {
    text-decoration: none;
}
ul li{
    text-decoration: none;
}
input{
    background-color: white;
}
.input{
    /*margin-top: 5px;*/
    margin-right: 10px;
    width: 115px;
    height: 19px;
}
.circle1{

    background-color: #00ff00;
    border-radius: 8px;
    font-size: 7px;
    color: white;

    /*text-align: center;*/
}
.circle2{

    background-color: #00ff00;
    border-radius: 8px;
    font-size: 7px;
    color:  #00ff00;
    margin-left: 3px;

    /*text-align: center;*/
}
.imgProfile{
    height: 40px;
}
.logo{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    background-color:#3fcbff;
    color:white;
    height: auto !important;
    padding-bottom: 12px;
}
#head{
    width: 100%;
}
#main{
    display: flex;

    /*display: -webkit-flex;*/
    /*-webkit-align-items: flex-start;*/
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*display: -webkit-flex;*/
    /*width: 100%;*/
    /*display: flex;*/
    height: auto !important;
}
#leftMenu{
    width: 180px;
    display: block;

}
.text10{
    margin-right: 10px;
    width: 132px;
    height: 19px;
}

.text{
    width: 17px;
    margin-right: 10px;
    height: 19px;
}
.text2{
    width: 275px;
    height: 19px;
}
.text3{
    width: 57px;
    height: 19px;
    margin-left: 10px;

}
.text4{
    width: 157px;
    height: 19px;
}
.text5{
    width: 215px;
    height: 19px;
    margin-right: 5px;
}
.text6{
    width: 156px;
    height: 19px;
}
.text7{
    width: 76px;
    height: 19px;
    margin-right: 5px;
}
.text8{
    width: 73px;
    height: 19px;
    margin-right: 5px;
}
.text9{
    height: 19px;
    width: 73px;
}
#checkbox{
    margin: 0;
    padding: 0;
}
.size{
    font-size: 10px;
}
.select{
    width: 86px;
    height: 19px;
    margin-left: 5px;
}
.input1{
    width: 124px;
    /*margin-right: 5px;*/
    height: 19px;
}
.padding{
    width: 58px;
    height: 19px;
    margin-right: 15px;
}
.select2{
    height: 19px;
    width: 160px;
}
.requered{
    padding-left: 8px;
    padding-right: 5px;
    color: #db0100;
}
.requered1{
    padding-left: 12px;
    padding-right: 12px;
}
div {
    display: inline-block;
}
input, select,option{

    border-radius: 5px;
    border: 1px solid #cacbcd;
}
.block{
    margin-top: 2px;
    margin-left: 78px;
}
img{
    margin-left: 10px;
}
.radio{
    /*padding-top: 0;*/
    /*padding-left: 20px;*/
    /*margin: 0;*/
    /*display: table-cell;*/
    /*direction: revert;*/
}
.fa-search{
    color: #cacbcd;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);

}
.fa-calendar-alt:hover, .fa-search:hover{
    cursor: pointer;
    color:#3fcbff;

}
.fa-calendar-alt{
    padding-right: 5px;
}

.checkAndRadio{
    border-radius: 0;
    border-color: #cbccce;
    margin-left: 0;
    margin-right: 0;
    height: 15px;
    width: 15px;

}
input{
    width: 80px;
    margin-right: 20px;
}
input:hover, .text3:hover, .text4:hover, .select:hover, .select2:hover{
    border-radius: 5px;

    border: 1px solid #7dcafe;
}
input:focus, .text3:focus, .text4:focus, .select:focus, .select2:focus{
    border-radius: 6px;
    border: 1px groove #7dcafe;
    box-shadow: 0 0 5px 3px #7dcafe;
}

button{
    border: none;
}
ul li{
    text-decoration: none;
}
.line:hover{
    text-decoration: none;
    color:#3fcbff;
    cursor: pointer;
}
#demogr{
    position: absolute;
    top: 137px;

    /*overflow: scroll;*/
   /* padding-top: 12px;
    padding-left: 83px; */
   /* padding-left: 83px; */
    left: 263px;
    font-size: 14px;
    display: flex;
    display: -webkit-flex;
   /* width: 100%; */
}
.margin{
    padding-left: 115px;
}
.margin2{
    padding-left: 59px;
}

.margin3{
    margin-left: 32px;
}
.margin4{
    margin-left: 99px;
}
.margin5{
    margin-left: 116px;
}
.margin6{
    margin-left: 21px;
}
.margin7{
    margin-left: 65px;
}
.margin8{
    margin-left: 124px;
}
.margin9{
    margin-left: 69px;
}
.margin10{
    margin-left: 17px;
}
.margin11{
    margin-left: 17px;
}
.margin12{
    margin-left: -2px;
}
.margin13{
    margin-left: 104px;
}
.margin14{
    margin-left: 66px;
}
.margin15{
    margin-left: 69px;
}
.margin16{
    margin-left: 131px;
}
.margin1{
    margin-left: -10px;
}
.margin17{
    margin-left: 44px;
}
.margin18{
    margin-left: 68px;
}
.margin19{
    margin-left: 38px;
}
.margin20{
    margin-left: 86px;
}
.margin21{
    margin-left: 86px;
}
.margin22{
    margin-left: 46px;
}
.margin23{
    margin-left: 70px;
}
.margin24{
    margin-left: 53px;
}
.margin25{
    margin-left: 93px;
}
.margin26{
    padding-left: 101px;
}
.margin27{
    margin-left: 104px;
}
.margin28{
    margin-left: 41px;
}
.margin29{
    margin-left: 77px;
}
.margin30{
    margin-left: 63px;
}
.margin31{
    margin-left: 51px;
}
.margin32{
    margin-left: 80px;
}
.margin33{
    margin-left: 98px;
}
.margin34{
    margin-left: 108px;
}
.margin35{
    margin-left: 15px;
}
.margin36{
    margin-left: 157px;
}

#margin{
    margin-right: 10px;
}
.line3{

    /*margin-top: 1px;*/
    padding-bottom: 0;

}
.line{
    margin-top: 1px;
    padding-bottom: 5px;

}
.menu2 a{
    text-decoration: none;
    color:#b4b7bb;
}
.menu2 a:hover{
    text-decoration: none;
    color:white;
    background-color: #495c6e;
}

.line2{

    display: block;
    /*margin-top: 1px;*/
    padding-bottom: 9px;

}

.bottom{
    margin: auto;
    position: absolute;
    top:742px;

    left: 309px;
}
.bottomCancel{
    background-color: inherit;
    font-size: 17px;
    padding: 15px 33px;
    /*padding-top: 15px;*/
    /*padding-left: 33px;*/
    color:#ccccce;
    border-radius: 4px;
    display: inline;
}
.bottomUpdate{
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 11px 42.7px;
    font-size: 18px;
    background-color:#3fcbff ;
}
.bottomUpdate:hover{
    /*color:#3fcbff ;*/
    /*background-color:white ;*/
    cursor: pointer;
}
.bottomCancel:hover{
    /*background-color: black;*/
    cursor: pointer;
}
.line1{

    display: block;

    padding-bottom: 9.5px;

}
.line1:hover, .line2:hover, tr:hover{
    color: #3fcbff;
}

::-webkit-resizer{
    /*background-image:url("");*/
    background-repeat:no-repeat;
    width:7px;
    height:0;
}

::-webkit-scrollbar{
    width: 11px;
}
.img-circle{
    padding-right: 8px;
    padding-left: 15px;
}
.imgProfile{
    height: 50px;
}
.circle{
    height: 25px;
    padding-right: 5px;
}
#insurance, #document{
    width: 100%;
    height: 100%;
    background-color: #eaf2f4;
    /*padding-top: 47px;*/
    padding-left: 0;
    margin-left: 0;
}
.userName{
    font-size: 22px;
    margin: 0;
    /*display: block;*/
}

div,p,span, ul,li{
    font-family: 'Roboto', sans-serif;
}


.head{
    padding-top: -4px;
    float: right;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.logotype{

    padding-left: 15px;
    font-size: 22px;
    letter-spacing: 1px;
}
.menu2{
    display: inline-block;
    padding-top: 12px;
    background-color: #3d4a5d;
    width: 210px;
    margin-bottom: 0;
    color: #c2c3c6;
    height: 100%;
    min-height: 2090px;

}
#eng{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: inherit;
}
#eng:hover{
    cursor: pointer;
}
.name{
    padding-right: 8px;
    font-size: 20px;

}
.campus{
    padding-right: 0;
    font-size: 20px;

}
.fa-lock{
    padding-right: 35px;
}

.lang{

    float: right;
    padding-right: 20px;
}

.menu3{

    height: auto !important;
    margin-top: 30px;
}
#text{
    display: flex;
}
.profile{
    display: flex;
    background-color:#3fcbff;
    color: white;
    width: 210px;
    height: auto;
    text-align: left;
    padding-top: 33px;
    padding-bottom: 20px;

}
.userData{
    /*display: block;*/
}
.setting{

    position: fixed;
    bottom: 5px;
}
.setting{
    background-color: inherit;
}
#setting{
    /*position: relative;*/
    /*left: 0;*/
    /*bottom: 0;*/
    margin-top: 600px;
    bottom: 0;
    background: inherit;

    width: 190px;
}
.setting:hover{
    width: 187px;
}
#user{

    padding-left: 181px;

}
.online{
    padding-left: 113px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.menu{
    width: 100%;
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 8px;
    height: auto !important;
    background-color: #364050;
    color: white;

}
.fa-bars{
    padding-left: 15px;
}
ul li{
    text-decoration: none;
    padding-left: 17px;
}
li{
    text-decoration: none;
}
.fa-home, .fa-th, .fa-shield-alt, .fa-file-alt, .fa-comment-alt, .fa-cog{
    color:#415b75;
}
.fas .fa-file-alt{

}
.user{
    padding-right: 25px;
    padding-left: 20px;
    font-weight: 600;
}

.user:hover, .user:focus{
    box-shadow: inset 0px 5px 10px -7px #000000;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
    background-color:#3fcbff;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.3s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.1s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .2s ease-out;
    transition-delay: 0.1s;
    padding-top: 11px;
    padding-bottom:     9px;
    cursor: pointer;
    animation-direction: alternate-reverse;
    animation: shadow  2s infinite ease-in-out;
}


.point{
    padding-top: 6px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 6px;
    color: #b4b7bb;
    font-size: 16px;
}
.fa-user-alt{
    color:#a4aeb7;
}
#demographicsMenu{
    color:#f5f5f7;
    background-color:#495c6e ;
    cursor: pointer;
    border-left: 2px solid #3fcbff;
}
.point:hover {
    color:#f5f5f7;
    background-color:#495c6e ;
    cursor: pointer;
    border-left: 2px solid #3fcbff;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.3s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.1s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .3s ease-out;
}
/*#setting:hover{*/
    /*color:#f5f5f7;*/
    /*!*padding-left: 0;*!*/
    /*!*margin-left: 0;*!*/
    /*!*padding: 5px;*!*/
    /*background-color:#495c6e ;*/
    /*cursor: pointer;*/
    /*border-left: 2px solid #3fcbff;*/
    /*-webkit-transition: .2s ease-out;*/
    /*-webkit-transition-delay: 0.3s;*/
    /*-o-transition: .2s ease-out;*/
    /*-o-transition-delay: 0.1s;*/
    /*-moz-transition: .2s ease-out;*/
    /*-moz-transition-delay: 0.5s;*/
    /*transition: .3s ease-out;*/
/*}*/
@font-face {

    font-family: 'Roboto', sans-serif;

    src: url("https://fonts.googleapis.com/css?family=Roboto");
    font-style: oblique;
    font-weight: normal;
}
@font-face {

    font-family: 'Open Sans', sans-serif;

    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width: 1150px){
    .logotype, .campus, .name, .userName{
        font-size: 20px;
    }
    .online{
        font-size: 12px;
    }
    .user, .lang{
        font-size: 18px;
    }
}
@media screen and (max-width: 1111px){

    .point{
        font-size: 14px;
    }
    .menu2, #leftMenu{
        width: 180px;
    }
    #setting{
        width: 160px;
    }
    #setting:hover{
        width: 157px;
    }
    .profile{
        width: 180px;
    }
    #user{
        padding-left: 135px;
    }
    .online{
        padding-left: 95px;
    }
}
@media screen and (max-width: 1083px){
    #user{
        padding-left: 173px;
    }
    .online{
        padding-left: 114px;
    }
}
@media screen and (max-width: 1055px){
    #user{
        padding-left: 90px;
    }
    .userData{
        margin-left: 15px;
    }
    .online{
        padding-left: 50px;
    }
    .profile{
        display: block;
        width: 140px;
        height: 135px;
    }
    .img-circle{

        padding-left: 5px;
    }
    .menu2, #leftMenu{
        width: 140px;
    }
    #setting{
        width: 120px;
    }
    #setting:hover{
        width: 117px;
    }
    #demogr{
        left: 80px;
        padding-left: 0;
        margin-left: 0;
    }

}
@media screen and (max-width: 949px){
    .logotype, .campus, .name, .userName{
        font-size: 18px;
    }
    .online{
        font-size: 12px;
    }
    .user, .lang{
        font-size: 16px;
    }
    .user:hover{
        padding-top: 20px;
    }
    #setting{
        /*position: relative;*/
        /*left: 0;*/
        /*bottom: 0;*/
        margin-top: 900px;
      padding-bottom: 10px;
        /*margin-bottom: 20px;*/
    }
    .margin14{
       margin-left: 70px;
    }


}
@media screen and (max-width: 744px){
    .user{
        padding-right: 14px;
        padding-left: 14px;
    }
    .logotype, .campus, .name{
        font-size: 16px;
    }

}
@media screen and (max-width: 1243px){
    #demogr{
        left: 243px;
    }
}

@media screen and (max-width: 1225px){
    .bottom{
        left: 287px;
    }
}
@media screen and (max-width: 1220px){
    .block{
        margin-left: 5px;
    }
    .bottom{
        left: 237px;
    }
}
@media screen and (max-width: 1114px){

    .bottom{
        left: 207px;
    }
}


@media screen and (max-width: 1083px){
    .input{
        margin-right: 5px;
        width: 105px;
    }
    .text10{
        margin-right: 5px;
        width: 122px;
    }

    .text{
        width: 7px;
        margin-right: 5px;
    }
    .text2{
        width: 235px;
    }
    .text3{
        width: 47px;
        margin-left: 5px;
    }
    .text4{
        width: 135px;
    }
    .text5{
        width: 165px;
        margin-right: 5px;
    }
    .text6{
        width: 135px;
        margin-right: 5px;
    }
    .text7{
        width: 66px;
        margin-right: 5px;
    }
    .text8{
        width: 63px;
        margin-right: 5px;
    }
    .text9{
        width: 63px;
        margin-right: 5px;
    }

    .select{
        width: 76px;
    }
    .input1{
        width: 115px;
        margin-right: 5px;
    }
    .select2{
        width: 150px;
    }
    .padding{
        width: 50px;
        margin-right: 5px;
    }
    .bottom{
        /*top: ;*/
        left: 200px;
    }
}
@media screen and (max-width: 1083px){
    #demogr{

        left: 233px;

    }
}
@media screen and (max-width: 1037px){
    .input{
        margin-right: 10px;
        width: 96px;
    }
    .text10{
        margin-right: 10px;
        width: 118px;
    }

    .text{
        width: 7px;
        margin-right: 10px;
    }
    .text2{
        width: 228px;
    }
    .text3{
        width: 47px;
        margin-left: 2px;
    }
    .text4{
        width: 130px;
        height: 19px;
    }
    .text5{
        width: 158px;
        height: 19px;
    }
    .text6{
        width: 130px;
        height: 19px;
    }
    .text7{
        width: 66px;
        height: 19px;
        margin-right: 5px;
    }
    .text8{
        width: 58px;
        height: 19px;
        margin-right: 10px;
    }
    .text9{
        height: 19px;
        width: 58px;
    }

    .select{
        width: 65px;
        height: 19px;
    }
    .input1{
        width: 113px;
        height: 19px;
    }
    .select2{
        height: 19px;
        width: 150px;
    }
    .bottom{
        left: 230px;
    }
}

@media screen and (max-width: 1024px){

    /*.block{*/
    /*margin-left: 2px;*/
    /*}*/
}


@media screen and (max-width: 1013px){
    .input{
        margin-right: 7px;
        width: 87px;
    }
    .text10{
        margin-right: 7px;
        width: 108px;
    }

    .text{
        margin-right: 7px;
    }
    .text2{
        width: 204px;
    }
    .text3{
        width: 47px;
        margin-left: 0;
        padding-left: 0;
    }
    .text4{
        width: 117px;
    }
    .text5{
        width: 143px;
        margin-right: 7px;
    }
    .text6{
        width: 117px;
        margin-right: 7px;
    }
    .text7{
        width: 66px;
        margin-right: 5px;
    }
    .text8{
        width: 53px;
        margin-right: 7px;
    }
    .text9{
        margin-right: 7px;
        width: 53px;
    }

    .select{
        width: 65px;
        height: 19px;
    }
    .input1{
        width: 85px;
        margin-right: 7px;
    }
    .select2{
        height: 19px;
        width: 140px;
    }
    .bottom{
        left: 150px;
    }
    .padding{
        margin-right: 7px;
    }
    #demogr{
        left: 160px;
        margin-right: 5px;

    }
}
@media screen and (max-width: 535px){
    #demogr{
        left: 145px;
        margin-right: 0;

    }
}

@media screen and (max-width: 977px){
    .input{
        margin-right: 5px;
        width: 80px;
    }
    .text10{
        margin-right: 5px;
        width: 98px;
    }

    .text{
        margin-right: 5px;
    }
    .text2{
        width: 186px;
    }
    .text3{
        width: 37px;

    }
    .text4{
        width: 100px;
    }
    .text5{
        width: 120px;
        margin-right: 5px;
    }
    .text6{
        width: 100px;
        margin-right: 5px;
    }
    .text7{
        width: 66px;
        margin-right: 5px;
    }
    .text8{
        width: 45.5px;
        margin-right: 5px;
    }
    .text9{
        margin-right: 5px;
        width: 45.5px;
    }

    .select{
        width: 55px;
        height: 19px;
    }
    .input1{
        width: 80px;
        margin-right: 5px;
    }
    .select2{
        height: 19px;
        width: 130px;
    }

    .padding{
        margin-right: 5px;
    }
    .bottom{
        left: 130px;

    }
    .bottomCancel{

        font-size: 16px;
    }
    .bottomUpdate{
        color: white;
        padding: 11px 40px;
        font-size: 16px;
    }

}

@media screen and (max-width: 949px){
    #demogr{
        display: block;
    }
    .input{
        margin-right: 10px;
        width: 165px;
    }
    .text10{
        margin-right: 10px;
        width: 230px;
    }
    .margin26{
        padding-left: 0;
    }
    .text{
        margin-right: 10px;
    }
    /*.margin32{*/
    /*margin-left: 90px;*/
    /*}*/
    .text2{
        width: 365px;
    }
    .text3{
        width: 85px;

    }
    .text4{
        width: 265px;
    }
    .text5{
        width: 295px;
        margin-right: 10px;
    }
    .text6{
        width: 265px;
        margin-right: 10px;
    }
    .text7{
        width: 175px;
        margin-right: 10px;
    }
    .text8{
        width: 126px;
        margin-right: 10px;
    }
    .text9{
        margin-right: 10px;
        width: 126px;
    }

    .select{
        width: 55px;

    }
    .input1{
        width: 203px;
        margin-right: 10px;
    }
    .select2{
        width: 265px;
    }

    .padding{
        margin-right: 10px;
    }
    .bottom{
        top: 1200px;
        left: 160px;

    }
    .bottomCancel{

        font-size: 14px;
    }
    .bottomUpdate{
        color: white;
        padding: 11px 38px;
        font-size: 14px;
    }
    .margin15{
        margin-left: 58px;
    }
    .margin16{
        margin-left: 120px;
    }
    .margin17{
        margin-left: 33px;
    }
    .margin18{
        margin-left: 57px;
    }
    .margin19{
        margin-left: 27px;
    }
    .margin20{
        margin-left: 74px;
    }
    .margin21{
        margin-left: 73px;
    }
    .margin22{
        margin-left: 32px;
    }
    .margin23{
        margin-left: 57px;
    }
    .margin24{
        margin-left: 44px;
    }
    .margin25{
        margin-left: 79px;
    }
    .margin26{
        margin-left: 88px;
    }
    .margin27{
        margin-left: 90px;
    }
    .margin28{
        margin-left: 28px;
    }
    .margin29{
        margin-left: 63px;
    }
    .margin30{
        margin-left: 57px;
    }
    .margin31{
        margin-left: 39px;
    }
    .margin32{
        margin-left: 69px;
    }
    .margin33{
        margin-left: 87px;
    }
    .margin34{
        margin-left: 96px;
    }
    .margin35{
        margin-left: 4px;
    }
    .margin36{
        margin-left: 145px;
    }
    .block{
        margin-left: 0;
    }
    #margin{
        margin-right: 5px;
    }
    /*.bottom{*/
    /*top: 2070px;*/
    /*}*/

}
@media screen and (max-width: 803px){
    .input1{
        width: 201px;
    }
    /*.text5{*/
        /*width: 48%;*/
        /*margin-right: 10px;*/
    /*}*/
}
@media screen and (max-width: 926px){

    .lang{
        padding-top: 5px;
    }
}
@media screen and (max-width: 795px){
    .input{
        margin-right: 10px;
        width: 160px;
    }
    .text10{
        margin-right: 10px;
        width: 205px;
    }
    /*.margin26{*/
        /*padding-left: 0;*/
    /*}*/
    .text{
        margin-right: 10px;
    }
    /*.margin32{*/
    /*margin-left: 90px;*/
    /*}*/
    .text2{
        width: 355px;
    }
    .text3{
        width: 85px;

    }
    .text4{
        width: 240px;
    }
    .text5{
        width: 280px;
        margin-right: 10px;
    }
    .text6{
        width: 240px;
        margin-right: 10px;
    }
    .text7{
        width: 160px;
        margin-right: 10px;
    }
    .text8{
        width: 113px;
        margin-right: 10px;
    }
    .text9{
        margin-right: 10px;
        width: 113px;
    }

    .select{
        width: 55px;

    }
    .input1{
        width: 192px;
        margin-right: 10px;
    }
    .select2{
        width: 240px;
    }

    .padding{
        margin-right: 10px;
    }
}

@media screen and (max-width: 785px){
    .input{
        margin-right: 5px;
        width: 150px;
    }
    .text10{
        margin-right: 5px;
        width: 200px;
    }
    /*.margin26{*/
    /*padding-left: 0;*/
    /*}*/
    .text{
        margin-right: 5px;
    }
    /*.margin32{*/
    /*margin-left: 90px;*/
    /*}*/
    .text2{
        width: 325px;
    }
    .text3{
        width: 78px;

    }
    .text4{
        width: 225px;
    }
    .text5{
        width: 255px;
        margin-right: 5px;
    }
    .text6{
        width: 225px;
        margin-right: 5px;
    }
    .text7{
        width: 140px;
        margin-right: 5px;
    }
    .text8{
        width: 108px;
        margin-right: 5px;
    }
    .text9{
        margin-right: 5px;
        width: 108px;
    }

    .select{
        width: 55px;

    }
    .input1{
        width: 180px;
        margin-right: 5px;
    }
    .select2{
        width: 225px;
    }

    .padding{
        margin-right: 5px;
    }
}

@media screen and (max-width: 750px){
    .input{
        margin-right: 5px;
        width: 130px;
    }
    .text10{
        margin-right: 5px;
        width: 165px;
    }
    .text2{
        width: 285px;
    }
    .text3{
        width: 70px;

    }
    .text4{
        width: 190px;
    }
    .text5{
        width: 215px;

    }
    .text6{
        width: 190px;

    }
    .text7{
        width: 100px;

    }
    .text8{
        width: 90px;

    }
    .text9{

        width: 90px;
    }

    .select{
        width: 55px;

    }
    .input1{
        width: 147px;

    }
    .select2{
        width: 190px;
    }


}

@media screen and (max-width: 710px){
    input{
        display: inline-table;
        margin-top: 5px;
        padding-bottom: 10px;
        margin-bottom: 3px;
    }
   #demogr{
       display: block;
   }
   #block{
       width: 100%;
   }
    .margin, .margin2, .margin3, .margin4,  .margin5, .margin6, .margin7, .margin8, .margin9, .margin10, .margin11, .margin12, .margin13,
    .margin14, .margin15, .margin16, .margin17, .margin18, .margin19, .margin20, .margin21, .margin22, .margin23, .margin24,
    .margin25, .margin26, .margin27,  .margin28,  .margin29,  .margin30{
        margin-left:0;
        padding-left: 0;
    }
    .margin5{
        display: block;
    }
    .input{
        margin-right: 3px;
        width: 95%;
    }
    .text10{
        margin-right: 3px;
        width:90%;
    }

    .text{
        margin-right: 0;
    }
    .text2{
        width: 95%;
    }
    .text3{
        margin-top: 5px;
        /*padding-bottom: 10px;*/
        /*padding-top: 10px;*/
        width: 95.1%;
    }
    .text4{
        margin-top: 5px;
        width: 95%;
    }
    .text5{
        width: 95%;
        margin-right: 6px;
        /*margin-bottom: 5px;*/
    }
    .text6{
        width: 95%;
        margin-right: 0;
        padding-right: 0;

    }
    .text7{
        width: 95%;
        margin-right: 5px;
    }
    .text8{
        width: 95%;
        margin-right: 0;
    }
    .text9{
        margin-right: 0;
        width: 95%;
    }

    .select{
        width: 95%;
        margin-top: 5px;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;

    }
    .input1{
        width: 95%;
        margin-right: 5px;
    }
    .select2{
        margin-top: 5px;
        width: 97%;
    }

    .padding{
        margin-right: 0;
        width: 95%;
    }
    .requered{
        padding-left: 0px;
        padding-right: 5px;
        color: #db0100;
    }
    .requered1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .bottom{
        left: 100px;
        top: 2200px;

    }
    #setting{
        /*position: relative;*/
        /*left: 0;*/
        /*bottom: 0;*/
        margin-top: 1900px;
        padding-bottom: 10px;
        /*margin-bottom: 20px;*/
    }
    .bottomCancel{
        font-size: 14px;
        margin-left: 15px;
    }

    .bottomUpdate{
        padding: 9px 35px;
        font-size: 14px;
    }


}
@media screen and (max-width: 495px){

    /*.input{*/
        /*margin-right: 3px;*/
        /*width: 90%;*/
    /*}*/
    /*.text10{*/
        /*margin-right: 3px;*/
        /*width:82%;*/
    /*}*/
    /*.text2{*/
        /*width: 90%;*/
    /*}*/
    /*.text3{*/
        /*width: 90%;*/
    /*}*/
    /*.text4{*/
        /*width: 90%;*/
    /*}*/
    /*.text5{*/
        /*width: 90%;*/
        /*margin-right: 3px;*/
    /*}*/
    /*.text6{*/
        /*width: 90%;*/
        /*margin-right: 0;*/
    /*}*/
    /*.text7{*/
        /*width: 90%;*/
        /*margin-right: 3px;*/
    /*}*/
    /*.text8{*/
        /*width: 90%;*/
    /*}*/
    /*.text9{*/
        /*width: 90%;*/
    /*}*/

    /*.select{*/
        /*width: 90%;*/

    /*}*/
    /*.input1{*/
        /*width: 90%;*/
        /*margin-right: 3px;*/
    /*}*/
    /*.select2{*/
        /*width: 90%;*/
    /*}*/

    /*.padding{*/

        /*width: 90%;*/
    /*}*/

    .bottomUpdate{
        padding: 9px 30px;
        font-size: 14px;
    }
    .bottom{
        left: 20px;


    }

}
@media screen and (max-width: 479px){
    .checkAndRadio{
        /*display: inline-table;*/


    }
    .text{
        width: 13px;
        margin-right: 0;
    }
    .radio{
        padding: 0;
        margin: 0;
        display: table-row;
    }

    .input{
        margin-right: 3px;
        width: 90%;
    }

    .bottom{
        left: 10px;


    }
}
@media screen and (max-width: 468px){
    /*#radioBtn{*/
        /*display: table-cell;*/
    /*}*/
    /*.checkAndRadio{*/
        /*display: table-cell;*/
    /*}*/
}

@media screen and (max-width: 453px){
    .radio{
        display: table-row;
    }
    #margin{
        margin-right: 5px;
    }
}
@media screen and (max-width: 449px){

    #demogr{
        margin-right: 0;

    }
    .bottom{
        left: 20px;
        /*top: 2540px;*/

    }
    .checkAndRadio{
        /*display: inline-table;*/


    }
    .radio{
        padding: 0;
        margin: 0;
        display: table-row;
        direction: revert;
    }
}
@media screen and (max-width: 419px){
    /*.img-circle{*/
        /*padding-left: 0;*/
    /*}*/
    .checkAndRadio{
        /*display: inline-table;*/
    }

    .radio{
        padding: 0;
        margin: 0;
        display: table-cell;
        direction: revert;
    }
    .input{
        margin-right: 3px;
        width: 90%;
    }
    .text10{
        margin-right: 3px;
        width:80%;
    }

    .text{
        margin-right: 0;
    }
    .text2{
        width: 91%;
    }
    .text3{
        width: 91%;
    }
    .text4{
        width: 91%;
    }
    .text5{
        width: 91%;
        /*margin-right: 3px;*/
    }
    .text6{
        width: 91%;
        margin-right: 0;
    }
    .text7{
        width: 91%;
        margin-right: 3px;
    }
    .text8{
        width: 91%;
        margin-right: 0;
    }
    .text9{
        margin-right: 0;
        width: 91%;
    }

    .select{
        width: 91%;

    }
    .input1{
        width: 91%;
        margin-right: 3px;
    }
    .select2{
        width: 91%;
    }

    .padding{
        margin-right: 0;
        width: 91%;
    }

    .bottom{
        left: 15px;
        /*top: 2350px;*/

    }
}
@media screen  and (max-width: 373px) {
    #demogr{
        left: 50px;
    }
    .margin31{
        /*margin-left:5px;*/
        float: right;
    }
    .margin32{
        float: right;
        /*margin-left: 19px;*/
    }
    .margin33{
        float: right;
        /*margin-left:5px;*/
    }
    .margin34{
        float: right;
        /*margin-left: 5px;*/
    }
    .margin35{
        float: right;
        /*margin-left: 5px;*/
    }
    .margin36{
        float: right;
        /*margin-left: 5px;*/
    }
    .bottom{
        left: 0px;
        /*top: 2400px;*/

    }
}
@media screen and (max-width: 365px){
    /*#demogr{*/
        /*padding-left: 0;*/
        /*margin-left: 10px;*/
    /*}*/

}
@media screen and (max-width: 356px){
    #demogr{
        font-size: 14px;
        margin-top: 0px;
        padding-top: 0;
    }
    .checkAndRadio{
        flex-wrap: nowrap;
        /*float: right;*/


    }
    .margin31, .margin33, .margin34,.margin35,.margin36{
        margin-left: 5px;
    }
    .input{
        margin-right: 3px;
        width: 89%;
    }
    .text10{
        margin-right: 3px;
        width:78%;
    }

    .text{
        margin-right: 0;
    }
    .text2{
        width: 89%;
    }
    .text3{
        width: 89%;
    }
    .text4{
        width: 89%;
    }
    .text5{
        width: 89%;
        margin-right: 3px;
    }
    .text6{
        width: 89%;
        margin-right: 0;
    }
    .text7{
        width: 89%;
        margin-right: 3px;
    }
    .text8{
        width: 89%;
        margin-right: 0;
    }
    .text9{
        margin-right: 0;
        width: 89%;
    }

    .select{
        width: 89%;

    }
    .input1{
        width: 89%;
        margin-right: 3px;
    }
    .select2{
        width: 89%;
    }

    .padding{
        margin-right: 0;
        width: 89%;
    }

    .bottom{
        left: 10px;
        /*top: 2500px;*/
        margin: 0;
        text-align: center;
    }
    .bottomCancel{

        padding-top: 11px;
        margin-left: 4px;

        display: block;
    }
    .bottomUpdate{

        padding: 8px 30px;

    }
}

@media screen and (max-width: 679px){
    .point{
        font-size: 14px;
    }

    /*.bottom{*/
        /*!*left: 150px;*!*/
        /*top: 2400px;*/
        /*margin: 0;*/
        /*text-align: center;*/
    /*}*/
    /*.menu2{*/
        /*width: 180px;*/
    /*}*/
    /*#setting{*/
        /*width: 160px;*/
    /*}*/
    /*#setting:hover{*/
        /*width: 77px;*/
    /*}*/
    /*.profile{*/
        /*width: 180px;*/
    /*}*/
    /*#user{*/
        /*padding-left: 135px;*/
    /*}*/
    /*.online{*/
        /*padding-left: 95px;*/
    /*}*/
    .logo{
        /*padding-bottom: 50px;*/
        /*height: 80px;*/
        text-align: center;
    }

}
@media screen and (max-width: 558px){
    #user{
        padding-left: 90px;
    }
    .online{
        padding-left: 50px;
        margin-right: 15px;
    }
    .profile{
        height: 135px;
        display: block;
        width: 140px;
    }
    .menu2{
        width: 140px;
    }
    #setting{
        width: 120px;
    }
    #setting:hover{
        width: 117px;
    }
    .bottom{
        left: 50px;

        margin: 0;
        text-align: center;
    }
    /*.userData{*/
        /*margin-left: 20px;*/
    /*}*/

}
@media screen and (max-width: 522px){
    #user{
        padding-left: 90px;
    }
    .online{
        padding-left: 45px;
        font-size: 10px;
    }
    .logotype, .campus, .name,  .fa-bars{
        font-size: 16px;
    }
    .user, .lang{
        font-size: 14px;
    }
    .fa-lock, .lang{
        padding-right: 5px;
    }

}
@media screen and (max-width: 494px) {
    .logo{


    }

    .head{
        float: bottom;

    }
    .logotype, .fa-bars{

        padding-left: 5px;
    }

    .profile{
        display: block;
        width: 125px;
    }
    .menu2{
        width: 125px;
    }
    #setting{
        width: 105px;
    }
    #setting:hover{
        width: 102px;
    }
    .point{
        font-size: 12px;
    }

}
@media screen and (max-width: 477px) {
    #demogr{
        left: 120px;
    }
    .profile{
        display: block;
        width: 110px;
    }
    .menu2{
        width: 110px;
    }
    #setting{
        width: 90px;
    }
    #setting:hover{
        width: 87px;
    }
}
@media screen and (max-width: 469px){
    #user{
        padding-left: 65px;
    }
    .online{
        padding-left: 30px;

    }


}

@media screen and (max-width: 475px){
    /*#radioBtn, #rd{*/
        /*display: table-cell;*/
    /*}*/
    .margin32{
        display: block;
    }
}

@media screen and (max-width: 457px){
    #user{
        padding-left: 35px;
    }
    .online{
        padding-left: 10px;

    }
    .logotype, .campus, .name, .userName, .fa-bars{
        font-size: 15px;
    }
    .bottom{
        left: 20px;
        /*top: 2400px;*/
        margin: 0;
        text-align: center;
    }
    .user {
        padding-right: 8px;
        padding-left: 8px;

    }
}
@media screen and (max-width: 448px){
    .fa-lock{
        background-color: inherit;
        padding-right: 35px;
    }
    #user{
        padding-left: 35px;
    }
    .online{
        padding-left: 10px;

    }
    .logotype, .campus, .name, .userName, .fa-bars{
        font-size: 15px;
    }
    .user {
        padding-right: 8px;
        padding-left: 8px;

    }

}
@media screen and (max-width: 394px){
    .profile{

        width: 100px;
    }
    .menu2{
        width: 100px;
    }
    #setting{
        width: 80px;
    }
    #setting:hover{
        width: 77px;
    }
}
@media screen and (max-width: 355px) {
    #demogr{
        font-size: 13.2px;
    }
    .bottomCancel{
          margin-left: 39px;

      }
    .bottom{
        top: 2050px;
        left: 10px;

        margin: 0;
        text-align: center;
    }
}
@media screen and (max-width: 347px) {
    .logo{


    }
    .bottomUpdate{

        padding: 6px 23px;

    }
    .bottomCancel{

        margin-left: 35px;

    }
    .bottom{
        left: 10px;
        margin: 0;
        /*text-align: center;*/
    }

    .logotype, .fa-bars{

        padding-left: 5px;
    }
    ul li{

        padding-left: 10px;
    }
    /*.profile{*/
        /*display: block;*/
        /*width: 125px;*/
    /*}*/
    /*.menu2{*/
        /*width: 125px;*/
    /*}*/
    /*#setting{*/
        /*width: 105px;*/
        /*padding-bottom: 20px;*/
    /*}*/
    /*#setting:hover{*/
        /*width: 102px;*/
    /*}*/
    .point{
        font-size: 12px;
    }
    #setting{
        /*position: relative;*/
        /*left: 0;*/
        /*bottom: 0;*/
        margin-top: 1800px;
        padding-bottom: 10px;
        /*margin-bottom: 20px;*/
    }
    #demogr{
        left: 100px;
    }
}
@media screen and (max-width: 679px){
    .logo{
        /*padding-bottom: 50px;*/
        /*height: 80px;*/
        text-align: center;
    }
}
@media screen and (max-width: 427px) {
    .logo{
       text-align: center;
    }
    /*#head{*/
        /*text-align: center;*/
    /*}*/
    .head{

        float: right;
        padding-right: 5px;
        margin-top: 5px;

    }
    .fa-lock{
        padding-right: 35px;
    }
    .campus{
        padding-left: 10px;
    }
    .user{
        padding-right: 5px;
        padding-left: 5px;
    }
    #user{
        padding-left: 10px;
    }
}
@media screen and (max-width: 347px) {
    .logo{


    }

    .head{
        float: bottom;

    }
    .logotype, .fa-bars{

        padding-left: 5px;
    }
    ul li{

        padding-left: 10px;
    }
    .profile{
        /*font-size: 10px;*/
        width: 97px;
    }
    .menu2{
        /*font-size: 10px;*/
        width: 97px;
    }
    .point{
        font-size: 11px;
    }
    #setting{
        font-size: 11px;
        width: 77px;
    }
    #setting:hover{
        width: 74px;
    }

}
@media screen and (max-width: 343px) {
    .logotype, .fa-bars, .point{

        padding-left: 5px;
    }
    .point{
        font-size: 11px;
    }
    .profile{
        /*font-size: 10px;*/
        width: 91px;
    }
    .menu2{
        /*font-size: 10px;*/
        width: 91px;
    }
    .point{
        font-size: 11px;
    }
    #setting{
        font-size: 11px;
        width: 71px;
    }
    #setting:hover{
        width: 68px;
    }
}
@media screen and (max-width: 330px) {
    #demogr{
        font-size: 13px;
    }
    .margin31, .margin33, .margin34,.margin35,.margin36{
        margin-left: 0;
    }
}
@media screen and (max-width: 322px) {
    #demogr{
        font-size: 12.5px;
    }
    .bottom{
        left: 0px;

        margin: 0;
        /*text-align: center;*/
    }

}
@media screen and (max-width: 316px) {
    #demogr{
        font-size: 11px;
    }
    .bottom{
        left: 0px;
        /*top: 2170px;*/
        margin: 0;
        /*text-align: center;*/
    }
}
@media screen and (max-width: 297px) {
    #demogr{
        font-size: 9px;
    }
    .bottom{
        left: 150px;
        top: 2060px;
        margin: 0;
        /*text-align: center;*/
    }
}