*{
    margin: 0;
    padding: 0;
    background-color: #eaf2f4;
}
ul {
    text-decoration: none;
}
ul li{
    text-decoration: none;
}
ul li{
    text-decoration: none;
}
li{
    text-decoration: none;
}
::-webkit-scrollbar-button {
    /*background-image:url('');*/
    background-repeat:no-repeat;
    width:6px;
    height:0px
}

/*::-webkit-scrollbar-track {*/
/*background-color:#c2c3c6;*/
/*box-shadow:0px 0px 3px #c2c3c6 inset;*/
/*}*/

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#3fcbff;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}

::-webkit-resizer{
    /*background-image:url("");*/
    background-repeat:no-repeat;
    width:7px;
    height:0px
}

::-webkit-scrollbar{
    width: 11px;
}
#document{

    padding-left: 30px;
    padding-top: 55px;
    /*padding-bottom: 450px;*/
    /*padding-right: 10px;*/
    font-family: 'Roboto', sans-serif;
    background-color: #eaf2f4;
    display: flex;
    width: 100%;
    height: 100%;

    /*padding-top: 47px;*/


}

.logotype, .online, .campus, .circle, .name, .lock, .head, .fa-lock, .img-circle, .fa-bars, .menu, #user, .user, .lang, .fa-caret-down, .profile, .imgProfile, .userData, .userName, .menu2,.point, .fa-home, .fa-cog, .fa-th,.fa-user-alt, .fa-comment-alt, .fa-file-alt, .fa-shield-alt{
    background-color: inherit;
}
.panel-color{
    color: white;

    border: 1px solid #3fcbff;
    background-color: #3fcbff;
    border-radius: 0;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 5px;
    /*padding-bottom: 6px;*/
    /*margin-bottom: -4px;*/
    /*padding-top: -5px;*/
    /*height: 35px;*/

    /*margin-top: 0;*/
    /*padding-left: 12px;*/
    /*padding-top: 5px;*/
}
.panelHead{
    width: 340px;
    height: 672px;
    border-radius: 0;
}
.fa-search{
    background-color: inherit;
}
#block2{
    background-color: inherit;
    margin-left: 18px;
    /*width: 52%;*/
    margin-top: -8px;
    float: right;
}
.nameTable{
    font-weight: 600;
    padding-left: 14px;
    background-color: inherit;
}
.nameTable1{
    font-weight: 600;
    background-color: inherit;
    padding-left: 15px;
    text-align: right;
}
.nameTable2{
    font-weight: 600;
    background-color: inherit;
    padding-left: 82px;
}
.nameTable3{
    font-weight: 600;
    background-color: inherit;
    padding-left: 49px;
}
.nameTable4{
    background-color: inherit;
    font-weight: 600;
    padding-left: 45px;
    padding-right: 20px;
}
.panel-shadow{
    width: 345px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 7px 1px #dee6e8;
}
#block1, #block2{
    display: inline-block;
}
.setting{

    position: fixed;
    bottom: 5px;
}
.setting{
    background-color: inherit;
}
.menu2 a{
    text-decoration: none;
    color:#b4b7bb;
}
.menu2 a:hover{
    text-decoration: none;
    color:white;
    background-color: #495c6e;
}
table{
    width: 100%;
}
.data{
    background-color: white;
}
#name{

    height: 30px;
}
.panelHead1{
    margin-top: 0;
    padding-top: 0;
    width: 700px;
    height: 752px;

    border-radius: 0;
}
table{
    width: 100%;
    background-color: inherit;
}
.table1{
    background-color: inherit;
    text-align: center;
}
.nameRow, .typeRow, .folderRow, .modifiedByRow, .modifiedRow{
    background-color: inherit;
    display: table-cell;
    padding-left: 20px;
}
.modifiedRow{
    background-color: inherit;
    padding-left: 80px;
}
.modifiedByRow{
    background-color: inherit;
    padding-left: 80px;
}
.typeRow{
    background-color: inherit;
    padding-left: 80px;
}
.folderRow{
    background-color: inherit;
    padding-left: 90px;
}
.category{
    background-color: white;
    color: #3fcbff;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
}
.buttonScan{
    margin-left: 98px;
    position: relative;
    top:472px;
    bottom: 0;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 2px 18px;
    font-size: 14px;
    background-color:#3fcbff ;
    border:1px solid #3fcbff;
}
.panel-body{
    background-color: white;
    height: 700px;
}
.body{
    background-color: white;
    /*padding-top: -10px;*/
    margin-top: 0;
    height: 642px;
    padding-top: 10px;
    padding-left: 16px;
    box-shadow: 0px 7px 1px #dee6e8;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    /*margin-left: 10px;*/
}
.tag{
    background-color: white;
    float: right;
    color: #3fcbff;
    padding-right: 13px;
    /*padding-right: 15px;*/
}
.folders{
    background-color: inherit;
    padding-top: 10px;
}
.folder{
    background-color: inherit;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: block;
}
.fold{
    background-color: inherit;
}
.folder:hover{
    color:#859caa;
    width: 100%;
    /*margin-left: 15px;*/
    background-color: #d9f5ff;
    cursor: pointer;
}
.fa-folder{
    background-color: inherit;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 7px;
}
.search{
    width: 290px;
    border: 1px solid #9fe5ff;
    background-color: #9fe5ff;
    font-size: 10px;
    /*padding-top: -5px;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 7px;
}
#search{
    background-color: #3fcbff;
    /*height: 32px;*/
    margin-top: -8px;
    padding-top: -5px;
}
.fa-search{
    /*color: black;*/
    /*font-size: 12px;*/
    /*padding-right: 10px;*/
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);

}
.iconSearch{
    font-size: 10px;
    padding-right: 2px;
    /*padding-top: 2px;*/
    /*margin-top: 2px;*/
    margin-left: -5px;
    width: 25px;
    color: black;
    border: 1px solid #9fe5ff;
    background-color: #9fe5ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@font-face {

    font-family: 'Roboto', sans-serif;

    src: url("https://fonts.googleapis.com/css?family=Roboto");
    font-style: oblique;
    font-weight: normal;
}
@media screen and (min-width: 1476px){
    #block2{
        margin-left: 50px;
    }
}
::-webkit-resizer{
    /*background-image:url("");*/
    background-repeat:no-repeat;
    width:7px;
    height:0;
}

::-webkit-scrollbar{
    width: 11px;
}
.img-circle{
    padding-left: 15px;
}
.circle{
    padding-right: 10px;
}

.userName{
    font-size: 22px;
    /*display: block;*/
}
.img-circle{
    height: 40px;

}
div,p,span, ul,li{
    font-family: 'Roboto', sans-serif;
}
.logo{
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    background-color:#3fcbff;
    color:white;
    height: auto;
    padding-bottom: 12px;

}

.head{
    padding-top: -4px;
    float: right;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.logotype{

    padding-left: 15px;
    font-size: 22px;
    letter-spacing: 1px;
}
.menu2{
    display: inline-block;
    padding-top: 12px;
    background-color: #3d4a5d;
    width: 210px;
    color: #c2c3c6;
    height: 1000px;
    margin-bottom: 0;

}
.name{
    padding-right: 8px;
    font-size: 21px;

}
.campus{
    padding-right: 12px;
    font-size: 21px;

}
.fa-lock{
    padding-right: 35px;
}

.lang{
    /*margin-top: 5px;*/
    float: right;
    padding-right: 15px;
}
#main{
    display: flex;
    height: auto;
}
.menu3{
    height: auto;
    margin-top: 30px;
}
.profile{
    display: flex;
    background-color:#3fcbff;
    color: white;
    width: 210px;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 10px;

}
.userData{
    display: block;
}
#setting{
    /*position: relative;*/
    /*left: 0;*/
    /*bottom: 0;*/
    margin-top: 600px;
    background: inherit;

    width: 190px;
}
#setting:hover{
    width: 187px;
}
#doc{
    margin-bottom: 1000px;
}
#user{

    padding-left: 181px;

}
.online{
    padding-left: 127px;
    font-size: 14px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}

.menu{
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 8px;
    height: auto;
    background-color: #364050;
    color: white;
}
.fa-bars{
    padding-left: 15px;
}
ul li{
    text-decoration: none;
    padding-left: 17px;
}
li{
    text-decoration: none;
}
.fa-home, .fa-th, .fa-user-alt, .fa-shield-alt, .fa-file-alt, .fa-comment-alt, .fa-cog{
    color:#415b75;
}
.fas .fa-file-alt{

}
.user{
    padding-right: 25px;
    padding-left: 20px;
    font-weight: 600;
}

.user:hover{
    box-shadow: 0px -7px 10px -11px #000000;
    background-color:#3fcbff;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.3s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.1s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .2s ease-out;
    transition-delay: 0.1s;
    padding-top: 14px;
    padding-bottom:     10px;
    cursor: pointer;
    animation-direction: alternate-reverse;
    animation: shadow  2s infinite ease-in-out;
}

.point{
    padding-top: 5px;
    padding-bottom: 15px;
}
.point:hover {
    color:#f5f5f7;
    background-color:#495c6e ;
    cursor: pointer;
    border-left: 2px solid #3fcbff;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 0.3s;
    -o-transition: .2s ease-out;
    -o-transition-delay: 0.1s;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .3s ease-out;
}

@font-face {

    font-family: 'Roboto', sans-serif;

    src: url("https://fonts.googleapis.com/css?family=Roboto");
    font-style: oblique;
    font-weight: normal;
}
@font-face {

    font-family: 'Open Sans', sans-serif;

    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width: 1366px){
    .nameTable1{
        padding-left: 140px;
    }
    .panelHead1{
        width: 680px;

    }
}
@media screen and (max-width: 1291px){
    #document{
        padding-left: 15px;

    }
}
@media screen and (max-width: 1276px){
    .panelHead1{
        width: 650px;

    }
    .nameTable1{
        padding-left: 120px;
    }
}
@media screen and (max-width: 1246px){
    .panelHead1{
        width: 620px;

    }
    .nameTable1{
        padding-left: 110px;
    }
}
@media screen and (max-width: 1216px){
    .panelHead{
        width: 335px;

    }
    .search {
        width: 270px;
    }
}
@media screen and (max-width: 1206px){
    .panelHead{
        width: 315px;

    }
    .search {
        width: 250px;
    }
}
@media screen and (max-width: 1186px){
    .panelHead1{
        width: 600px;

    }
    .nameTable1{
        padding-left: 95px;
    }
}
@media screen and (max-width: 1166px){
    .panelHead1{
        width: 580px;

    }
    .nameTable1{
        padding-left: 75px;
    }
}
@media screen and (max-width: 1146px){
    .panelHead1{
        width: 490px;
    }
    .nameTable1{
        padding-left: 45px;
    }
    .nameTable2{
        padding-left: 45px;
    }

    .nameTable3{
        padding-left: 45px;
    }
    .nameTable4{
        padding-left: 45px;
    }
}
@media screen and (max-width: 1150px){
    .logotype, .campus, .name, .userName{
        font-size: 20px;
    }
    .online{
        font-size: 12px;
    }
    .user, .lang{
        font-size: 18px;
    }
}
@media screen and (max-width: 1083px){
    #user{
        padding-left: 173px;
    }
    .online{
        padding-left: 114px;
    }
}
@media screen and (max-width: 1056px){
    .panelHead{
        width: 275px;

    }
    .search {
        width: 210px;
    }
}
@media screen and (max-width: 1016px){
    .panelHead{
        width: 265px;

    }
    .search {
        width: 200px;
    }
}
@media screen and (max-width: 1006px){
    .panelHead{
        width: 255px;

    }
    .search {
        width: 190px;
    }
}
@media screen and (max-width: 996px){
    .profile, .menu2{
        width: 190px;
    }
    #setting{
        width: 177px;
    }
    #setting:hover{
        width: 167px;
    }

}
@media screen and (max-width: 976px){
    .profile, .menu2{
        width: 177px;
    }
    .panelHead1{
        width: 465px;
    }
    .nameTable1{
        padding-left: 40px;
    }
    .nameTable2{
        padding-left: 40px;
    }

    .nameTable3{
        padding-left: 40px;
    }
    .nameTable4{
        padding-left: 40px;
    }
}
@media screen and (max-width: 949px){
    .logotype, .campus, .name, .userName{
        font-size: 18px;
    }
    .online{
        font-size: 12px;
    }
    .user, .lang{
        font-size: 16px;
    }
    .user:hover{
        padding-top: 20px;
    }

}
@media screen and (max-width: 938px){
    #block2{
        font-size: 13px;
    }
    .panelHead1{
        width: 435px;
    }
    .nameTable1{
        padding-left: 35px;
    }
    .nameTable2{
        padding-left: 35px;
    }

    .nameTable3{
        padding-left: 35px;
    }
    .nameTable4{
        padding-left: 35px;
    }
}
@media screen and (max-width: 908px){
    .panelHead{
        width: 95%;
        height: 100px;
        border-radius: 0;
    }
    .search{
        width: 92%;

    }
    #block1, #block2{
        display: block;
    }

    .buttonScan{
        margin-left: 230px;
        position: relative;
        top:150px;
        padding: 2px 15px;
    }
    #document{
        display: block;
    }
    .panelHead1{
        width: 95%;
    }
    #block2{
        margin-top: 350px;
        margin-left: 0;
        float: none;
    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 15%;
    }
    #setting{
        margin-top: 900px;

    }

}
@media screen and (max-width: 908px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 13%;
    }
}
@media screen and (max-width: 775px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 12%;
    }
}
@media screen and (max-width: 744px){
    .user{
        padding-right: 14px;
        padding-left: 14px;
    }
    .logotype, .campus, .name, .userName{
        font-size: 16px;
    }
}
@media screen and (max-width: 733px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 11%;
    }
    .buttonScan{
        margin-left: 190px;
    }
}
@media screen and (max-width: 698px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 10%;
    }
    .buttonScan{
        margin-left: 180px;
    }
}
@media screen and (max-width: 670px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 9%;
    }
    .buttonScan{
        margin-left: 170px;
    }
}
@media screen and (max-width: 645px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 7%;
    }
    .buttonScan{
        margin-left: 150px;
    }
}
@media screen and (max-width: 679px){
    .logo{
        /*padding-bottom: 50px;*/
        height: 80px;
        text-align: center;
    }
    .point{
        font-size: 14px;
    }
    .menu2{
        width: 180px;
    }
    #setting{
        width: 160px;
    }
    #setting:hover{
        width: 157px;
    }
    .profile{
        width: 180px;
    }
    #user{
        padding-left: 135px;
    }
    .online{
        padding-left: 95px;
    }
}
@media screen and (max-width: 599px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 8%;
    }
    .nameTable{
        font-size: 12px;
    }
    .buttonScan{
        margin-left: 130px;
    }
}
@media screen and (max-width: 597px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 7%;
    }
    .nameTable{
        font-size: 12px;
    }
    .buttonScan{
        margin-left: 120px;
    }
}
@media screen and (max-width: 577px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 6%;
    }
    .nameTable{
        font-size: 12px;
    }
    .buttonScan{
        margin-left: 110px;
    }
}
@media screen and (max-width: 559px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 7%;
    }
    .nameTable{
        font-size: 12px;
    }
    .userData{
        padding-left: 15px;
    }
    #user{
        padding-left: 90px;
    }
    .online{
        padding-left: 50px;
    }
    .profile{
        display: block;
        width: 140px;
    }
    .menu2{
        width: 140px;
    }
    #setting{
        width: 120px;
    }
    #setting:hover{
        width: 117px;
    }


}
@media screen and (max-width: 537px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 6%;
    }
    .nameTable{
        font-size: 12px;
    }
}
@media screen and (max-width: 519px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 7%;
    }
    .nameTable{
        font-size: 12px;
    }
    .buttonScan{
        margin-left: 90px;
    }
    .search{
        width: 87%;
    }
    .panelHead1, .panelHead{
        width: 98%;
    }
}
@media screen and (max-width: 503px){
     .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 6%;
    }
    .nameTable{
        /*font-size: 11px;*/
    }
    .buttonScan{
        font-size: 13px;
        margin-left: 90px;
    }
    .search{
        width: 87%;
    }
    .category{

        font-size: 16px;

    }
    .tag, .folders{
        font-size: 13px;
    }

}
@media screen and (max-width: 516px){
    #user{
        padding-left: 90px;
    }
    .online{
        padding-left: 45px;
        font-size: 10px;
    }
    .logotype, .campus, .name, .userName, .fa-bars{
        font-size: 16px;
    }
    .user, .lang{
        font-size: 14px;
    }
    .fa-lock, .lang{
        padding-right: 5px;
    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 5%;
    }

}
@media screen and (max-width: 491px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 5%;
    }
    .nameTable{
        /*font-size: 11px;*/
    }
    .buttonScan{
        margin-left: 90px;
    }
}
@media screen and (max-width: 483px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 11px;
        padding-left: 5.5%;
    }
    .nameTable{
        font-size: 11px;
    }
}
@media screen and (max-width: 469px){
    #user{
        padding-left: 65px;
    }
    .online{
        padding-left: 30px;

    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 11px;
        padding-left: 5%;
    }


}
@media screen and (max-width: 463px){
    .logo{
        /*padding-bottom: 50px;*/
        height: 70px;
        text-align: center;
    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 12px;
        padding-left: 4%;
    }
    .nameTable{
        font-size: 12px;
    }
    #user{
        padding-left: 35px;
    }
    .online{
        padding-left: 10px;

    }
    .logotype, .campus, .name, .userName, .fa-bars{
        font-size: 15px;
    }
    .user {
        padding-right: 8px;
        padding-left: 8px;

    }
    .img-circle , .userData, .point, .logotype,.fa-bars{
        padding-left: 10px;
    }
    .point{
        font-size: 12px;
    }
    .profile{
        display: block;
        width: 127px;
    }
    .menu2{
        width: 127px;
    }
    #setting{
        width: 107px;
    }
    #setting:hover{
        width: 104px;
    }
}
@media screen and (max-width: 457px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 11px;
        padding-left: 5%;
    }
    .nameTable{
        font-size: 11px;
    }
}
@media screen and (max-width: 443px){
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 11px;
        padding-left: 4%;
    }
    .nameTable{
        font-size: 11px;
    }
}
@media screen and (max-width: 431px){
   #document{
       margin-left: 0;
       padding-left: 5px;
   }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        font-size: 11px;
        padding-left: 3%;
    }
    .buttonScan{
        margin-left: 80px;
    }
}
@media screen and (max-width: 450px){
    .img-circle , .userData, .point, .logotype,.fa-bars{
        padding-left: 5px;
    }
    .profile{

        width: 122px;
    }
    .menu2{
        width: 122px;
    }
    #setting{
        width: 102px;
    }
    #setting:hover{
        width: 99px;
    }

   /*div #block1, div #block2{*/
        /*margin-right: 0;*/
        /*padding-right: 0;*/
    /*}*/
}
@media screen and (max-width: 409px){
    .profile{

        width: 110px;
    }
    .menu2{
        width: 110px;
    }
    #setting{
        width: 90px;
    }
    #setting:hover{
        width: 87px;
    }
}
@media screen and (max-width: 397px){
    .profile{

        width: 107px;
    }
    .menu2{
        width: 107px;
    }
    #setting{
        width: 87px;
    }
    #setting:hover{
        width: 84px;
    }
    .buttonScan{
        margin-left: 70px;
    }
}
@media screen and (max-width: 394px){
    .profile{

        width: 100px;
    }
    .menu2{
        width: 100px;
    }
    #setting{
        width: 80px;
    }
    #setting:hover{
        width: 77px;
    }
}
@media screen and (max-width: 347px) {
    .logo{


    }

    .head{
        float: bottom;

    }
    .logotype, .fa-bars{

        padding-left: 5px;
    }
    ul li{

        padding-left: 10px;
    }
    .profile{
        /*font-size: 10px;*/
        width: 97px;
    }
    .menu2{
        /*font-size: 10px;*/
        width: 97px;
    }
    .point{
        font-size: 11px;
    }
    #setting{
        font-size: 11px;
        width: 77px;
    }
    #setting:hover{
        width: 74px;
    }

}
@media screen and (max-width: 343px) {
    .profile{
        /*font-size: 10px;*/
        width: 91px;
    }
    .menu2{
        /*font-size: 10px;*/
        width: 91px;
    }
    .point{
        font-size: 11px;
    }
    #setting{
        font-size: 11px;
        width: 71px;
    }
    #setting:hover{
        width: 68px;
    }
}
@media screen and (max-width: 395px) {
    .logo{
        /*padding-bottom: 50px;*/
        height: 80px;
        text-align: center;
    }
    .head{

        float: right;
        padding-left: 5px;
        margin-top: 5px;
        /*padding-bottom: 20px;*/

    }
    .user{
        padding-right: 5px;
        padding-left: 5px;
    }
    #user{
        padding-left: 10px;
    }
}
@media screen and (max-width: 387px) {
    .nameTable, .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
       font-weight: 100;
    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 2.7%;
    }
}
@media screen and (max-width: 373px) {
    .nameTable, .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        padding-left: 3px;
    }
   #name{
       padding-left: 5px;
       /*padding-right: 5px;*/
   }
    #search{
        padding-right: 0;
        padding-left: 10px;
        /*padding-right: 5px;*/
    }
}
@media screen and (max-width: 351px) {
    /*.nameTable, .nameTable1, .nameTable2, .nameTable3,  .nameTable4{*/
        /*padding-left: 3px;*/
    /*}*/
    #name{
        padding-left: 0;
        /*padding-right: 5px;*/
    }
    #search{
        padding-left: 5px;

        /*padding-right: 5px;*/
    }
}
@media screen and (max-width: 337px) {
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 1%;
    }
}
@media screen and (max-width: 334px) {
    .buttonScan{
        margin-left: 50px;
    }
    .category{

        font-size: 14px;

    }
    .tag, .folders{
        font-size: 12px;
    }
    .category{

        margin-left: 0;
    }
    .fa-folder{
        padding-left: 0;
    }
    /*.body{*/
        /*padding-left: 0;*/
    /*}*/
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 0;
    }
    .nameTable1, .nameTable2, .nameTable3,  .nameTable4{
        /*font-size: 11px;*/
        padding-left: 0;
    }
    #name{
        margin-right: 0;
        padding-right: 0;
    }
}